<div class="container" ng-controller="MainController as todo">
  <div class="row" ng-show="todo.synchronizer.isDesynchronized()">
    <div class="alert alert-warning col-xs-12
    col-md-8 col-md-offset-2" role="alert">
      Aplikacja jest w trybie offline, wszystkie zmiany będą zsynchronizowane po przywróceniu połączenia internetowego.
      <a href="#" class="alert-link" ng-click="todo.synchronizer.synchronize()">(Spróbuj zsynchronizować)</a>
    </div>
  </div>

  <div class="row">
    <div class="task-wrapper" ng-repeat="task in todo.userTasks">
      <todo-task task="task"></todo-task>
      <hr id='currentTime' class="col-xs-12 col-md-offset-2 col-md-8"
          ng-if="todo.currentTimeBetween(task, todo.userTasks[$index+1])"
    </div>
  </div>
  <div class="row">
    <todo-task-form/>
  </div>
</div>
