<div class="col-xs-12 container-center-both
            col-sm-10 col-sm-offset-1
            col-md-8 col-md-offset-2
            col-lg-6 col-lg-offset-3"
    ng-class="{'unsync' : isUnsyncTask()}">
  <div class="col-xs-2 col-sm-1 wrapper-task-done-btn">
    <button type="button" class="btn btn-default" ng-click="toggleTaskDone()">
    <span class="task-done-icon glyphicon"
          ng-class="{'glyphicon-ok' : task.completed,
          'glyphicon-remove': !task.completed}"/>
    </button>
  </div>
  <div class="col-xs-6 col-sm-7">
    <div class="row">
      <div class="col-xs-12"><h4>{{task.name}}</h4></div>
      <div class="col-xs-12">
        <span ng-repeat="tag in task.tags">
        <span class="label label-primary">#{{tag}}</span>
        </span>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    {{taskCallendarDay(task.date)}}
  </div>
  <div class="col-xs-1 text-center">
    <div class="row">
    <span class="glyphicon task-icon-small"
          ng-click="toggleNotification()"
          ng-class="{'glyphicon-bell' : task.notification,
          'glyphicon-ban-circle': !task.notification}"/>
      <span class="glyphicon glyphicon-trash task-icon-small"
            ng-click="removeTask()"/>
    </div>
  </div>
</div>
